Django==4.2.9
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
django-cors-headers==4.3.1
psycopg2-binary==2.9.9
python-decouple==3.8
django-filter==23.5
qrcode[pil]==7.4.2

channels==4.0.0
channels-redis==4.2.0
daphne==4.1.0
celery==5.3.6
redis==5.0.1

PyMuPDF==1.24.1
pytesseract==0.3.13
qdrant-client[fastembed]==1.9.1
Pillow==10.3.0

google-generativeai>=0.5.0